<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stack Shack</title>
</head>
<body>
    <h1>Stack Shack</h1>

    <nav>
        <a href="/">Home</a>
        <a href="{% url 'blog_category' category='music' %}">Music</a>
        <a href="{% url 'blog_category' category='lifestyle' %}">Lifestyle</a>
        <a href="{% url 'blog_category' category='software' %}">Software Engineering</a>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>